{% extends 'base_2.html' %}
{% block head %}

   <script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
   <script type="text/javascript" src="/static/js/jquery-1.12.2.js"></script>
   <script type="text/javascript" src="/static/js/cart.js"></script>
{% endblock head %}
{% block body %}
	<div class="total_count"><em>全部商品</em></div>
	<ul class="cart_list_th clearfix">
		<li class="col01">商品名称</li>
		<li class="col02">商品单位</li>
		<li class="col03">商品价格</li>
		<li class="col04">数量</li>
		<li class="col05">小计</li>
		<li class="col06">操作</li>
	</ul>
    <form action="{% url 'my_cart:new_od' %}" method="post">
    {% csrf_token %}
    {% for cart in carts  %}

	<ul class="cart_list_td clearfix" id="{{ cart.id }}">
		<li class="col01"><input type="checkbox" name="cart_id" checked value="{{ cart.id }}" ></li>
		<li class="col02"><img src="/static/{{ cart.goods.gpic }}"></li>
		<li class="col03">{{ cart.goods.gtitle }}</li>
		<li class="col04">{{ cart.goods.gunit }}</li>
		<li class="col05">{{ cart.goods.gprice }}</li>
		<li class="col06">
			<div class="num_add">
				<a href="javascript:;" class="add fl">+</a>
				<input type="text" class="num_show fl" value="{{ cart.count }}">
				<a href="javascript:;" class="minus fl">-</a>	
			</div>
		</li>
		<li class="col07">25.80元</li>
		<li class="col08"><a href="javascript:cart_del({{ cart.id }})">删除</a></li>
	</ul>
    {% endfor %}


	

	<ul class="settlements">
		<li class="col01"><input type="checkbox" name="check_all" checked="" id="check_all"></li>
		<li class="col02"></li>
		<li class="col03">合计(不含运费)：<span>¥</span><em id="total">42.60</em><br>共计<b class="total_count1">2</b>种商品</li>
		<li class="col04"><input id="jisuan" type="submit" value="去结算"></li>
	</ul>
    </form>
{% endblock body %}







